:root {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    background-color: black;
}

h1.header {
    color: greenyellow;
    padding: 3em 0em 0em 0em;
    margin: 0;
}

p.description {
    color: greenyellow;
    padding: 1em 0em 2em 0em;
}

p.error {
    color: red;
}

textarea.input {
    text-align: center;
    resize: none;
    width: 90vw;
    border: 2px black solid;
    border-radius: 16px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: greenyellow;
    color: black;
}

textarea.output {
    visibility: hidden;
    text-align: center;
    resize: none;
    width: 90vw;
    border: 2px black solid;
    border-radius: 16px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: greenyellow;
    color: black;
}

/* Divs */
div.headerImage {
    background-color: black;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-image: url(../assets/images/header-background.png);
}

div.headerImageBlur {
        border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

div.qrcodecontainer {
    width: 100vw;
    height: 100vw;
    margin: 1em 0em 1em 0em;
    visibility: hidden;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    background-color:grey;
}

/* Inputs */
input[type=text] {
    margin: 0.5em 0em 0.5em 0em;
    border: 2px black solid;
    border-radius: 8px;
    text-align: center;;
}

input[type=button].generate {
    margin: 0.5em 0em 0.5em 0em;
    padding: 1em 1em 1em 1em;
    background-color: black;
    font-weight: bold;
    color: greenyellow;
    border: 2px greenyellow solid;
    border-radius: 8px;
    text-align: center;
    width: 90vw;
}


input[type=password] {
    padding: 4px 4px 4px 4px;
    margin: 1em 0em 1em 0em;
    background-color: greenyellow;
    color: black;
    border: 2px black solid;
    border-radius: 16px;
    text-align: center;
}


canvas.qrcode {
    background-color: grey;
    padding-top: 7em;
    visibility: hidden;
    width: 50vw;
}