:root {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    background-color: black;
}

h1.header {
    color: greenyellow;
    padding: 2em 0em 0em 0em;
    margin: 0;
}

p.description {
    color: greenyellow;
    padding: 1em 0em 2em 0em;
}

p.error {
    color: red;
    margin-bottom: 2px;
}

label {
    color: greenyellow;
    display: block;
    font-weight: bold;
}

textarea.input {
    text-align: center;
    resize: none;
    width: 75vw;
    border: 2px greenyellow solid;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: black;
    color: greenyellow;
}

textarea.output {
    visibility: hidden;
    text-align: center;
    resize: none;
    width: 90vw;
    border: 2px black solid;
    border-radius: 16px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: greenyellow;
    color: black;
}

/* Divs */
div.headerImage {
    background-color: black;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-image: url(../assets/images/header-background.png);
}

div.headerImageBlur {
        border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

div.qrcodecontainer {
    width: min-content;
    height: min-content;
    overflow: hidden;
    position: relative;
    margin: 4em auto 1em auto;
    display: none;
    background-color:transparent;
    animation: growFromButton 1s ease-in;
}

@keyframes growFromButton {
    0% { 
        top: -10em;  
        scale: 10%;
        background-color: greenyellow;
        border-radius: 50%;
    }

    50% {
        top: 0em;
        scale: 10%;
        background-color: greenyellow;
        border-radius: 50%;
    }

    100% {
        top: 0em;
        scale: 100%;
        background-color: transparent;
        border-radius: 0%;
    }

}

/* Inputs */
input[type=text] {
    margin: 0.5em 0em 0.5em 0em;
    border: 2px black solid;
    border-radius: 8px;
    text-align: center;;
}

input[type=button] {
    margin: 0.5em 0em 0.5em 0em;
    padding: 1em 1em 1em 1em;
    background-color: greenyellow;
    font-weight: bold;
    color: black;
    border: 2px black solid;
    border-radius: 8px;
    text-align: center;
    width: 90vw;
}

input[type=button].qrcodeActionButton {
    margin: 0.5em 0em 0.5em 0em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color: greenyellow;
    font-weight: bold;
    color: black;
    border: 2px black solid;
    border-radius: 8px;
    text-align: center;
    width: 25vw;
}


input[type=password] {
    padding: 4px 4px 4px 4px;
    margin:  10px 0px 1em 0em;
    width: 75vw;
    background-color: black;
    color: greenyellow;
    border: 2px greenyellow solid;
    border-radius: 10px;
    text-align: center;
}


canvas.qrcode {
    background-color: transparent;
    visibility: hidden;
    width: 50vw;
}